body {
	text-align: center;
	font-family: Helvetica;
	font-weight: italic;
	font-size: 22px;
	background-image: url("images.jpg");
	background-size: cover;

}
img{
	opacity: 0.4;
	filter: alpha(opacity=40);
}
hr {
	width: 400px;
}